.card-btn{
    background-color: $dark;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 20px 89px;
    margin: 30px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
}

.card-btn-secondary{
    background-color: $secondary;
    border: none;
    border-radius: 16px;
    color: white;
    padding: 20px 89px;
    margin: 30px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.875em;
}