
$primary:#524BE3;
$secondary: #FF9357;
$grey:#f2f7ff;
$text-grey:#BDBDBD;
$dark:#23214B;
$white: #FFFFFF;
$black: #000000;
$text-title:#23214B;
$text-pera:#222222;
$shadow: #00000002;

.dark-text{
    color: $dark;
}

.secondary-text{
    color: $secondary;
}