@media (max-width:1200px){

    .big-title{
        font-size: 2.8em;
    }

    .title{
    font-size: 2em;
    }

    .b-margin{
        margin: 0 70px 0 70px !important;
    }

    .t-margin{
        margin: 50px 0 0 0 !important;
    }

}